# AIRADA TAWEEYOSSAK 6030830121 (SQL Dust&Temp)

# IMPORT SQLITE3

In [1]:
import sqlite3

# CREATE DATABASE

In [2]:
conn = sqlite3.connect('sql_dtj.db')
print("Opened database successfully");

Opened database successfully

# CREATE TABLE

- Create table sensors
- Create table Dust and Temperature

In [3]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Sensors (
	ID INTEGER PRIMARY KEY NOT NULL,
	Name CHAR(50) NOT NULL 
);''')

conn.execute('''
CREATE TABLE Dust_AND_Temp (
	ID INTEGER NOT NULL,
	Date_Time CHAR(50) NOT NULL ,
	Dust INTEGER NOT NULL ,
	Temp_Celcius INTEGER NOT NULL 
		CONSTRAINT fk_Sensors_ID REFERENCES Sensors(ID));''')

conn.commit()

print("Table created successfully");

Table created successfully

# INSERT DATA INTO TABLE

### INSERT VALUES INTO TABLE Sensors

In [4]:
conn.execute("INSERT INTO Sensors(ID,Name) VALUES(101,'Ant');")
conn.execute("INSERT INTO Sensors(ID,Name) VALUES(102,'Bird');")
conn.execute("INSERT INTO Sensors(ID,Name) VALUES(103,'Cat');")
conn.execute("INSERT INTO Sensors(ID,Name) VALUES(104,'Dog');")
conn.execute("INSERT INTO Sensors(ID,Name) VALUES(105,'Elephant');")
conn.commit()

### INSERT VALUES INTO TABLE Dust&Temp

- Insert values of Sensors 'Ant'

In [5]:
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(101,'10/09/63 08:00:00',15,35);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(101,'10/09/63 09:00:00',20,35);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(101,'10/09/63 10:00:00',10,39);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(101,'10/09/63 11:00:00',30,37);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(101,'10/09/63 12:00:00',40,36);")
conn.commit()

- Insert values of Sensors 'Bird'

In [6]:
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(102,'10/09/63 08:00:00',53,35);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(102,'10/09/63 09:00:00',20,36);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(102,'10/09/63 10:00:00',14,34);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(102,'10/09/63 11:00:00',8,36);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(102,'10/09/63 12:00:00',20,41);")
conn.commit()

- Insert values of Sensors 'Cat'

In [7]:
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(103,'10/09/63 08:00:00',23,35);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(103,'10/09/63 09:00:00',10,36);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(103,'10/09/63 10:00:00',40,41);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(103,'10/09/63 11:00:00',21,36);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(103,'10/09/63 12:00:00',24,41);")
conn.commit()

- Insert values of Sensors 'Dog'

In [8]:
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(104,'10/09/63 08:00:00',10,35);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(104,'10/09/63 09:00:00',12,38);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(104,'10/09/63 10:00:00',15,34);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(104,'10/09/63 11:00:00',36,32);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(104,'10/09/63 12:00:00',24,40);")
conn.commit()

- Insert values of Sensors 'Elephant'

In [9]:
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(105,'10/09/63 08:00:00',20,34);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(105,'10/09/63 09:00:00',14,33);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(105,'10/09/63 10:00:00',10,38);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(105,'10/09/63 11:00:00',29,36);")
conn.execute("INSERT INTO Dust_AND_Temp(ID,Date_Time,Dust,Temp_Celcius) VALUES(105,'10/09/63 12:00:00',24,37);")
conn.commit()

# IMPORT PANDAS

In [10]:
import pandas as pd

# SELECT DATA AND JOIN THEM

In [11]:
df = pd.read_sql_query("select s.ID,s.name,DT.Date_Time,DT.Dust,DT.Temp_Celcius from Sensors s, Dust_AND_Temp DT where s.ID=DT.ID ;",conn)

# SHOW DATA

In [12]:
df

     ID      Name          Date_Time  Dust  Temp_Celcius
0   101       Ant  10/09/63 08:00:00    15            35
1   101       Ant  10/09/63 09:00:00    20            35
2   101       Ant  10/09/63 10:00:00    10            39
3   101       Ant  10/09/63 11:00:00    30            37
4   101       Ant  10/09/63 12:00:00    40            36
5   102      Bird  10/09/63 08:00:00    53            35
6   102      Bird  10/09/63 09:00:00    20            36
7   102      Bird  10/09/63 10:00:00    14            34
8   102      Bird  10/09/63 11:00:00     8            36
9   102      Bird  10/09/63 12:00:00    20            41
10  103       Cat  10/09/63 08:00:00    23            35
11  103       Cat  10/09/63 09:00:00    10            36
12  103       Cat  10/09/63 10:00:00    40            41
13  103       Cat  10/09/63 11:00:00    21            36
14  103       Cat  10/09/63 12:00:00    24            41
15  104       Dog  10/09/63 08:00:00    10            35
16  104       Dog  10/09/63 09:00:00    12            38
17  104       Dog  10/09/63 10:00:00    15            34
18  104       Dog  10/09/63 11:00:00    36            32
19  104       Dog  10/09/63 12:00:00    24            40
20  105  Elephant  10/09/63 08:00:00    20            34
21  105  Elephant  10/09/63 09:00:00    14            33
22  105  Elephant  10/09/63 10:00:00    10            38
23  105  Elephant  10/09/63 11:00:00    29            36
24  105  Elephant  10/09/63 12:00:00    24            37